<section class="py-5 bg-dark text-white" id="clients">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h6 class="text-gray-900 fw-bold">OUR CLIENTS</h6>
            <h2 class="fw-bold"> <span class="text-primary-red">Trusted</span> By Industry Leaders</h2>
            <p class="lead">Partnering with businesses across diverse industrial sectors</p>
        </div>

        <div class="logo-slider">
            <div class="logo-track">
                <img src="https://samratcement.com/wp-content/uploads/2021/06/samrat-cement-logo-1-1024x348.png"
                    alt="Samrat Cement">
                <img src="https://www.rotarykiln.net/wp-content/uploads/berber_cement.png" alt="Berber Cement">
                <img src="https://www.massgroupholding.com/English/wene/logo.png" alt="Mass Group">
                <img src="https://www.lafarge.com.jo/themes/custom/corporate_lafarge/components/header/images/holcim_logo_color.svg"
                    alt="Holcim">
                <img src="https://hulassteel.com.np/file-manager/photos/1/logo.png" alt="Hulas Steel">
                <img src="https://www.el-khayyat.com/assets/img/logo.png" alt="El Khayyat">
            </div>
        </div>
    </div>
</section>