<section class="hero relative  shadow-b" id="home">
    <div class="container">
        <div class="row m-auto">
            <div class="col-lg-8">
                <h1 class="display-4 text-white fw-bold mb-4 mt-5">Global Solutions for Industrial Machinery & Spare
                    Parts</h1>
                <p class="lead text-white mb-5">Delivering quality industrial components and machinery to businesses
                    worldwide with reliability and precision.</p>
                <div class="d-flex gap-3">
                    <a href="#products" class="button-primary bg-primary-red btn-lg px-4 rounded-pill">Explore
                        Products</a>
                    <a href="./contact.html" class="btn btn-outline-light btn-lg px-4 rounded-pill">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>