<section class="hero-small relative shadow" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="display-4 text-white fw-bold mb-4">Contact Us</h1>

            </div>
        </div>
    </div>
</section>