<header class="transition-all duration-300">
    <div class="flex justify-between items-center w-[80%] mx-auto py-2 ">
        <a href="#"><img class="max-w-[180px] " src="/images/logo-tp.png"></a>
        <button class="hidden md:block bg-transparent border-0 cursor-pointer text-2xl text-gray-800 lg:hidden">
            ☰</button>
        <nav>
            <ul
                class="flex font-semibold gap-2 text-sm items-center md:fixed md:top-[70px] md:left-0 md:right-0  md:flex-col md:items-center md:py-5 md:shadow md:-translate-y-full md:transition-transform md:z-[1] lg:translate-y-0 lg:static lg:flex-row lg:shadow-none">
                <li class="py-2 px-4 hover:text-red-600 relative group">
                    <a href="#" class="block nav-link">Company</a>
                    <ul
                        class="hidden absolute bg-[#333333] shadow w-max shadow-lg group-hover:block animate-[slideFadeIn_150ms_ease-in-out] p-4 mt-2">
                        <li class="py-2 px-4"><a href="about.html"
                                class="text-white block transition-colors hover:text-red-600">About
                                Us</a></li>
                        <li class="py-2 px-4"><a href="#"
                                class="text-white block transition-colors hover:text-red-600">What
                                We Do?</a></li>
                        <li class="py-2 px-4"><a href="#"
                                class="text-white block transition-colors hover:text-red-600">Why
                                Work With Us?</a>
                        </li>
                        <li class="py-2 px-4"><a href="#"
                                class="text-white block transition-colors hover:text-red-600">Whats
                                New?</a></li>
                    </ul>
                </li>

                <li class="py-2 px-4 hover:text-red-600 relative group">
                    <a href="#" class="block nav-link">Products</a>
                    <ul
                        class="hidden absolute bg-[#333333] shadow w-max shadow-lg group-hover:block animate-[slideFadeIn_150ms_ease-in-out] p-4 mt-2">
                        <li class="py-2 px-4"><a href="#"
                                class="text-white block transition-colors hover:text-red-600">About
                                Us</a></li>
                        <li class="py-2 px-4"><a href="#"
                                class="text-white block transition-colors hover:text-red-600">What
                                We Do?</a></li>
                        <li class="py-2 px-4"><a href="#"
                                class="text-white block transition-colors hover:text-red-600">Why
                                Work With Us?</a>
                        </li>
                        <li class="py-2 px-4"><a href="#"
                                class="text-white block transition-colors hover:text-red-600">Whats
                                New?</a></li>
                    </ul>
                </li>

                <li class="px-4 py-2 hover:text-red-600 relative">
                    <a href="#" class="block nav-link">Industry</a>
                    <ul class="hidden absolute bg-gray-100 min-w-[150px] shadow-lg  group-hover:block">
                        <li class="py-2 px-4"><a href="#"
                                class="text-gray-700 block transition-colors hover:text-red-600">Cement</a>
                        </li>
                        <li class="py-2 px-4"><a href="#"
                                class="text-gray-700 block transition-colors hover:text-red-600">Coal</a>
                        </li>
                    </ul>
                </li>
                <li class="py-2 px-4 hover:text-red-600"><a href="#" class="nav-link">About</a></li>
                <li class="py-2 px-4 hover:text-red-600"><a href="contact.html" class="nav-link">Contact
                        Us</a></li>
            </ul>
        </nav>
    </div>
</header>