<nav class="navbar navbar-expand-lg navbar-light fixed-top transition-navbar shadow">
    <div class="container">
        <a id="logo" class="navbar-brand" href="/index.html">
            <!-- <span class="fw-bold fs-3 bg-white  px-1 bordered-text" id="ab">AB</span><span
                class="fw-bold fs-3 px-2  bg-primary-red text-white font-italic"
                style="font-style: italic;">Enterprise</span> -->
            <img id="" src="./images/logo-tp.png" alt="" style="width: 180px;" class="py-2">
            <span class=" position-absolute top-0 fs-6 mt-3 fw-bold text-primary-red">®</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex gap-3 fw-semibold  gap-5">
                <div class="d-flex  gap-4">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                            <li><a class="dropdown-item" href="./about.html">About Us</a></li>
                            <li><a class="dropdown-item" href="">Clientale</a></li>
                            <li><a class="dropdown-item" href="#product-1">Our Subsidiaries</a></li>


                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cementDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Cement
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="cementDropdown">
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    onclick="navigateToProduct('cement-plant-spares')">Cement Plant Spares</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    onclick="navigateToProduct('vertical-mill')">Vertical Mill</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    onclick="navigateToProduct('rotary-kiln')">Rotary Kiln</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    onclick="navigateToProduct('clinker-cooler')">Clinker Cooler</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    onclick="navigateToProduct('packing-plant')">Packing Plant</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    onclick="navigateToProduct('coal-cement-feeder')">Coal and Cement Feeder</a></li>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="./product.html" id="productsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                            <li><a class="dropdown-item " href="javascript:void(0)"
                                    onclick="navigateToProduct('industry-supply')">Industry Supply</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    onclick="navigateToProduct('material-handling')">Material Handling</a></li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('motors-gears')">Gearboxes & Motors</a></li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('pumps-valves')">Pumps & Valves</a></li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('compressors-blowers')">Compressors & Blowers</a></li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('hydraulics-pneumatics')">Hydraulics & Pneumatics</a>
                            </li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('electrical-items')">Elelctrical Items</a></li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('instrumentation')">Instrumentation</a></li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('coupling-seals')">Coupling & Seals</a></li>
                            <li><a class="dropdown-item route-link" href="javascript:void(0)"
                                    onclick="navigateToProduct('chain-sprockets')">Chain & Sprockets</a></li>


                        </ul>
                    </li>




                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="./industries.html" id="productsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sectors
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                            <li><a class="dropdown-item" href="/cement-industry">Cement Industry</a></li>
                            <li><a class="dropdown-item" href="/cement-industry">Power Plants</a></li>
                            <li><a class="dropdown-item" href="/cement-industry">Gypsum Industry</a></li>
                            <li><a class="dropdown-item" href="/cement-industry">Oil & Gas Industry</a></li>

                        </ul>
                    </li>





                    <li class="nav-item">
                        <a class=" nav-link" href="/contact.html">Contact</a>

                    </li>
                </div>


            </ul>



        </div>
    </div>
</nav>